body {font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}


.topnav {
  vertical-align: top;
  display: inline-block;
  color:black;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  width: 49%;
}

.bouton {
 vertical-align: top;
 display: inline-block;
 color:white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 width: auto;
 height: auto;
}

.bouton a {
  color:black;
  text-decoration: none;
}

.bouton:hover {
  background-color: #ddd;
  color: black;
  display: inline-block;
}

.topnav-right {
  text-align: right;
  width: 50%;
  vertical-align: top;
  display: inline-block;
}

.topnav-right input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  color:black;
}

.nav-bar{
  z-index:300;

  list-style-type: none;
  margin: 0;
  padding:0px;
  overflow: hidden;
  position: sticky;
  top: 0px;
 
  background-color:rgba(0,0,0,0.2);

}

.form-input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form-input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #069206;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}


a {
  color: black;
}

.signin {
  margin: auto;
  width: 50%;
  padding: 1em 0.5em;
  background-color: #f1f1f1;
  text-align: center;
}

#email {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  : left;
  margin-top: 60px;
}


.mySlides {
  display: none;
}


#id { : right;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  right: 28px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Clear s after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.column {
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  height: 300px;
  width: 24%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  height: 35%;
}

.test {
  display: inline-block;
}
#h2 {
  font-size:20px;
  color: white;
}
#logo{
  margin-left: 40%;
}

.column1 {
  margin: -1px;
  vertical-align: top;
  display: inline-block;
  padding: 10px;
  height: 300px;
  width: 50%;
  background-color:white;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  height: 35%;
}
.column2 {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 200px;
  margin-top:100px;
}

footer { 
  background-color: #005c99;
  margin-left: auto;
  margin-right: auto;
}

#myForm {
  margin: auto;
    width: 60%;
  padding: 1em;
  margin-top: 0px;


  background-color: white;
}

.myslides {
  position: relative;
  text-align: center;
  color: black;
  max-width: 600px;
}
.prix {
  position: absolute;
  top: 8px;
  right: 16px;
 
  background-color: #FF6E05; 
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */

}

.ville{
  position: absolute;
  top: 8px;
  left: 16px;
  color:white;
}


.description{
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:white;
  background-color: rgba(0,0,0,0.5);
}
h3:nth-child(1) {
  margin-left: 150px;
}
p:nth-child(1) {
    border-top-style: solid;
    margin-top: 150px;
    border-top-width: 0px;
}